<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/tabler.min.css').path }}">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/tabler-icons.min.css').path }}">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/fontawesome.min.css').path }}">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/select2.min.css').path }}">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/flatpickr.min.css').path }}">
  <link rel="stylesheet" href="{{ request.url_for('admin:statics', path='css/main.css').path }}">
  <style>
    {% include "admin/_admin_theme.css" %}
  </style>
  {% if admin.favicon_url %}
  <link rel="icon" href="{{ admin.favicon_url }}">
  {% endif %}
  {% block head %}
  {% endblock %}
  <title>{{ admin.title }}</title>
</head>

<body class="admin-theme">
  {% block body %}
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {% endblock %}
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/jquery.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/tabler.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/popper.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/bootstrap.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/select2.full.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/flatpickr.min.js').path }}"></script>
  <script type="text/javascript" src="{{ request.url_for('admin:statics', path='js/main.js').path }}"></script>
  {% block tail %}
  {% endblock %}
</body>

</html>
